@{
    ViewBag.Title = "Home Page";
}

<br />
<ul class="nav nav-tabs">
    <li class="active Ftab " style="width:50%;"><a data-toggle="tab" href="#home"> Home</a></li>
    <li class="Ftab "><a data-toggle="tab" href="#menu1" > Result</a></li>
    
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        @*<button type="button" class="btn btn-primary btn-lg btn3d " style="text-align: center; width:80%; margin-left: 40px;" ><span class="glyphicon glyphicon-cloud"></span> </button>*@
        @*<a class="btn icon-btn btn-primary" href="#" style="margin-top:20px;  "><span class="glyphicon btn-glyphicon glyphicon-sort img-circle text-primary" style="text-align:left;"></span>Get Unassign</a>*@
        <button type="button" class="btn btn-default w" style="width:100%"><span class="fa fa-car"></span> text</button>  <br />  
        @*<button type="button" class="btn btn-default w"><span class="glyphicon glyphicon-trash"></span>Clear Map</button>        
        <button type="button" class="btn btn-default w"><span class="glyphicon glyphicon-trash"></span>Maker</button><br />
        <button type="button" class="btn btn-default w"><span class="glyphicon glyphicon-cog"></span>Report</button>*@
        <div class="hr-sect">text</div>
        @*<li>Maker Map</li>

        <li>Report</li>
        <li>Clear Map</li>*@
        <ul class="nav nav-pills nav-stacked">
            <li class=""><a href="#section1"> <span class="fa fa-map-pin"></span> text</a></li> 
            <li><a href="#"><span class="fa fa-bar-chart"></span> text</a></li>
            <li><a href="#"><span class="fa fa-bars"></span> text</a></li>
            <li><a href="#"><span class="fa fa-print"></span> text</a></li>             
            <li><a href="#"><span class="fa fa-archive"></span> text</a></li>
            
        </ul><br>

        @*<div class="hr-sect">CONFIG</div>

        <ul class="nav nav-tabs">
            <li class="active Ftab"><a data-toggle="tab" href="#home1">Vehicle Working</a></li>
            <li class="Ftab"><a data-toggle="tab" href="#menu2">Criteria</a></li>                     
        </ul>*@

        @*<div class="tab-content">
        <div id="home1" class="tab-pane fade in active">
            <input id="datepicker" width="270" />

                <p> Date : <input type='text' class="form-control input-sm" id='datetimepicker4' style="width: 40%; " /></p>

                <div class="" style="width: 40%;">

                    <select id="selectZone" class="form-control">
                        <option>select zone</option>
                        <option value="BKK">BKK</option>
                        <option value="East">East</option>
                        <option value="North">North</option>
                        <option value="Northeast">Northeast</option>
                        <option value="West">West</option>
                    </select>
                </div>


            </div>
        <div id="menu2" class="tab-pane fade">
            <div class="checkbox">
                <label><input type="checkbox" value="">Priority</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">SLA</label>
            </div>
        </div>
    </div>*@

        <button type="button" class="btn btn-default w" style="bottom:0; position: initial; text-align:center; left:10px; width:100%"><span class="glyphicon glyphicon-calendar"></span>text</button>                  
    </div>
    
    <div id="menu1" class="tab-pane fade">
       
        
    </div>
    
</div>


