 .Ftab {
        width:50%;
        text-align:center;
            /*font-family: Arial, Helvetica, sans-serif;*/ 
    }
    .bt {
    position: absolute;
    top: 50%;
    text-align:center;
}
  .w{
     margin-top:20px; 
     /*color:#777;*/
        
  }
    .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

 .c{
     padding-left: 10px;
     
 }
 .ct{
     margin-left: 10px;
     width: 60%;
 }

 .g {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.g:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

.child {
    display: none;
}
